.title2 h2 {
    color: rgb(0, 0, 0);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

#delete_account,
#staff_account,
#asset_account,
#login,
#register ,
.save{
    background: #f5a623;
    width: 300px;
}

.modal-content{
   background-color:#17b978 ; 
}

.modal-title{
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 800;
}

.btn-link,
a {
    color: rgb(255, 255, 255);
}





.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    text-align: center;
    z-index: 3;
    display: grid;
    place-items: center;
}

.loaded {
    animation: fadeOut 1s forwards ease-in-out;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.hidden {
    display: none;
    transition: 0.8s ease-out;
}

.wrap{
background-color:whitesmoke ;
padding: 20px;
border-bottom: 5px solid #17b978;
}

.card{
    border-radius: 0px;
    background: #e0e0e0;
    border: none;
    
}

/* .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */



.text-login,
.register {
    color: rgb(255, 255, 255);
}


.box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    overflow: hidden;
}

.box-right {
    clip-path: polygon(100% 0%, 100% 45%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    display: grid;
    place-items: center;
    background-color: #4e657a;
}

/* label {
    color: white;
    font-size: 18px;
} */

.login {
    background: #435c70;
}

.form {
    min-width: 300px;
}

.box-left {
    display: grid;
    place-items: center;
}

.box-left .big-image {}