.title2 h2 {
    color: rgb(0, 0, 0);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

#delete_account,
#staff_account,
#asset_account,
#login,
#register ,
.save{
    background: #f5a623;
    width: 300px;
}

.modal-content{
   background-color:#17b978 ; 
}

.modal-title{
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 800;
}

.btn-link,
a {
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-decoration: none !important;
    l
}





.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    text-align: center;
    z-index: 3;
    display: grid;
    place-items: center;
}

.loaded {
    animation: fadeOut 1s forwards ease-in-out;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.hidden {
    display: none;
    transition: 0.8s ease-out;
}

.wrap{
background-color:whitesmoke ;
padding: 20px;
border-bottom: 5px solid #17b978;
}

.card{
    margin-bottom: 10px;
    background: #e0e0e0;
    
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.left{
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #17b978;
    padding: 50px;

}

.right{
    display: grid;
    height: 100vh ;
    align-items: center;
    }



.right-side{
    min-width: 350px;
    width: 350px;
    margin: 0 auto;


}
.register{
    min-width: 500px;
    width: 400px;
    margin: 0 auto;

}
.left-side{

}



.text-login,
.register {
    color: rgb(255, 255, 255);
}


.login {
    background: #f5a623;
}

.card-one{
    border-right:10px solid #17b978;
}
.card-two{
    border-right:10px solid #f5a623;
}

.card-three{
    border-right:10px solid #000000;
}

.badge{
    font-size: 15px;
}